<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Docker and Selenium Grid Test-Suite" parallel="tests" thread-count="4">
    <test name="Test on Nexus 4">
        <parameter name="platform" value="Android"></parameter>
        <parameter name="platformVersion" value="7.0"></parameter>
        <parameter name="deviceName" value="nexus_4_7.0"></parameter>
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>
    <test name="Test on Samsung Galaxy S6">
        <parameter name="platform" value="Android"></parameter>
        <parameter name="platformVersion" value="6.0"></parameter>
        <parameter name="deviceName" value="samsung_galaxy_s6_6.0"></parameter>
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>
</suite>